<html lang="en">

    <%- include('../../layout/head') %>

<body>

    <%- include('../../layout/header') %>

    <main>

        <h1>Shows</h1>
        <% allBooks.forEach((book, idx)=>{ %> 
            <div>
                <img src="<%= book.imageLinks %>" alt="">
                <h3><%= book.title %></h3>
                <h4><%= book.authors %></h4>
                <p><%= book.description %></p>
                <form action="/books" method="POST">
                    <input name="idx" value="<%= idx %>" class="hidden">
                    <input name="title" value="<%= book.title %>" class="hidden">
                    <input name="author" value="<%= book.authors %>" class="hidden">
                    <input name="description" value="<%= book.description %>" class="hidden">
                    <input name="img" value="<%= book.imageLinks %>" class="hidden">
                    <button>Select this book</button>
                </form>
            </div>
        <% }) %> 

    </main>


    <%- include('../../layout/footer') %>

</body>
</html>