<html lang="en">

    <%- include('../layout/head') %>

<body>

    <%- include('../layout/header') %> 

    <main>

        <h3> Book = <%= numberOfBooks %></h3>
        <% taskResults.forEach(book=>{ %> 
            <div>
                <img src='<%= book.imagelinks %>' alt="">
                <h3><%= book.title %></h3>
                <h4><%= book.authors %></h4>
                <p><%= book.description %></p>
                <button type="button"><a href="/books/<%=book.id%>">View Details</a> </button>
            </div>
        <% }) %> 

    </main>

    <%- include('../layout/footer') %>
    
</body>
</html>